<div id="page_wrapper">
  <div id="profile_image">
    <%= image_tag 'https://s3.amazonaws.com/uifaces/faces/twitter/sillyleo/128.jpg' %>
  </div>

  <div id="content">
    <h1>This is my page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt vero consequatur ipsam, asperiores cum obcaecati inventore ullam nisi quisquam, quos ipsa iusto provident quod exercitationem nemo illo consequuntur qui tempore.
    </p>
  </div>
</div>
